/* 
  With SF the best and sometimes only way to get these styles is to use !important because SF / React will create unique, scoped classes for items. 
  
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');


:root {
  --um-blue: #00274c;
  --um-maize: #ffcb05;
  --um-maize--50: #fffbeb;

  /* gray */
  --um-gray--200: #d6d6d6;

  /* Bright blue/800 */
  --mo-blue--link: #193a9f;
  --primaryFontFace: 'DM Sans', Arial, Helvetica, sans-serif;
  --surfaceTextColor: var(--um-blue);
  
  
}

/* Google Fonts */


// Fonts


/* Event Builder Class Specific targets */
body,
.content
label .content, 
.bt-rich-text .content{
  font-family: 'DM Sans', Arial, Helvetica, sans-serif !important;
  font-size: 17px !important;
  color: var(--um-blue) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 .event-name,
.title,
[class*="speaker-profile-overlay"] .speaker-name {
  font-family: 'DM Serif Display', Georgia, serif !important;
  letter-spacing: -0.02em !important;
}

h1 {
  font-size: 3rem !important;
  line-height: 1.1;
}

h2 {
  font-size: 2.125 rem !important;
}

[class*="speaker-profile-overlay"] .image-section {
  position: relative;
}

[class*="speaker-profile-overlay"] .image-section:after {
  left: -60px !important;
  top: -90px !important;
}



/* Linkable things */


.nav-item,
.full-profile-link,
.mat-expansion-panel-header-title h4 {
  color: var(--mo-blue--link) !important;
}

.nav-item {
  font-weight: 800 !important;
}

.content p {
  font-size: 1rem !important;
  line-height: 1.6 !important;
}

/* Speaker Profiles Overlay */

[class*="speaker-profile-overlay"] {
  background: var(--um-maize--50) !important;
}

/* [class*="speaker-profile-overlay"] .content p, 
[class*="speaker-profile-overlay"] .details,
[class*="speaker-profile-overlay"] .speaker-name,
[class*="speaker-profile-overlay"] .bio-section,
[class*="speaker-profile-overlay"] .mat-icon,
[class*="speaker-profile-overlay"] .speaker-company-title
 {
} */

[class*="speaker-profile-overlay"] .mat-icon {
  transition: 300ms ease-in-out;
}

[class*="speaker-profile-overlay"] .mat-icon:hover {
  transform: scale(1.5);
  transition: transform 300ms ease-in-out;
}

.speaker-bio {
  border-bottom-color: white !important;
}

.speaker-title {
  font-weight: 900 !important;
  letter-spacing: 0.1 !important;
  font-size: 1.25rem !important;
}

.venue {
  font-weight: 700 !important;
  font-size: 1.75rem !important;
}


/* Event Dates */

.event-date {
  font-weight: 700;
}




.event-date-container {
  font-weight: 500 !important;
  font-size: 1.5rem !important;
}

.speakers-wrapper {
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr)) !important;
}
.speaker-image.custom-text,
.speakers-wrapper .speaker-image.custom-text {
  font-size: 6rem !important;
  font-weight: 900 !important;
  padding-bottom: 28px !important;
  max-height: 240px !important;
  width: 240px !important;
  color: black !important;
  line-height: 14rem !important;
  align-items: flex-start !important;
  
}

.speaker-image {
  position: relative !important;
}

.speaker-details .speaker-image,
.speaker-details-overlay .speaker-details .speaker-image.custom-text,
.speaker-profile-overlay .details .image-section .speaker-image.custom-text {
  border-radius: 0 !important;
  background: var(--um-gray--200) !important;
  clip-path: path("M240 15 C240 6.72 233.28 0 225 0H15C6.72 0 0 6.72 0 15V225C0 233.28 6.72 240 15 240H225C233.28 240 240 233.28 240 231.6V15Z");
}

 

.speaker-details .speaker-image img.rounded {
  clip-path: path("M240 15 C240 6.72 233.28 0 225 0H15C6.72 0 0 6.72 0 15V225C0 233.28 6.72 240 15 240H225C233.28 240 240 233.28 240 231.6V15Z"
    );
  border-radius: 0 !important;
  /*until we can modify the templates themselves to not include the .rounded class, this it what we must do. */
}

/* VARIATION 1 */
.speaker-details {
  position: relative;
}

.speaker-details:after,
.speaker-profile-overlay .image-section:after  {
  content: " " !important;
  background: var(--um-maize);
  position: absolute;
  width: 290px;
  height: 280px;
  left: -30px;
  top: 5px;
  z-index: -1;
  transform: scaleX(-0.7) scaleY(-0.7) translateX(60px) translateY(-60px) skewY(6deg);
  clip-path: path("M240 20.471 C240 8.66 229.387 -0.77 215.759 0.13L21.463 11.40C9.367 12.49 0 21.39 0 32.12V178.03C0 187.98 7.281 196.69 17.001 199.88L211.103 238.81C225.158 241.87 240 231.13 240 217.92V20.471Z"
    );
}

.speaker-profile-overlay .image-section:after {
  left: 120px;
  top: 80px
}

/* App bar */

.appbar h1 {
  font-family: "DM Sans", sans-serif !important;
  font-size: 1rem !important;
}

.product-item__venue,
.product-item__dateTime,
.product-item__description {
  font-family: "DM Sans", Arial, Helvetica, sans-serif !important;
}

.product-item__dateTime,
.product-item__venue {
  font-weight: bold;
}

.EventDiscover ul:nth-child(1n + 1) {
  margin-top: 2rem;
}

@media (max-width: 320px) {
  .product-item__imgContainer {
    width: 100% !important;
  }
  
  .product-item {
    flex-direction: column !important;
    align-items: center !important;
  }
  
  .product-item__eventDetails {
    max-width: 100% !important;
  }
  ]
}
/* 

Buttons  

*/

.content-download-button,
.content-row .content-download-button {
  text-align: center !important;
  /* for some reason the button text isn't centered? */
}

.button-wrapper .mat-icon {
  fill: white !important;
}

button.button-wrapper,
.expand-collapse-button,
.direction-btn {
  background-color: var(--mo-blue--link) !important;
  
  margin: 0.25rem 0;
  display: inline-block;
  font-family: 'DM Sans', Arial, Helvetica, sans-serif !important;
  font-size: 18px !important;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: #FFFFFF !important;
  padding: 0.5rem 2rem !important;
  border-radius: 40px;
  vertical-align: middle;
  text-align: center;
  text-align-last: center;
  -webkit-text-size-adjust: none;
  box-shadow: none !important;
  transition: 250ms transform;
}

button.button-wrapper:hover, 
.expand-collapse-button:hover,
.direction-btn:hover {
  transform: scale(0.85);
  transition: 250ms transform;
}


.button-wrapper .mat-icon {
  fill: white !important;
}

/* FAQ, Mat Expansion Panels */

.faq-answer .content,
.mat-expansion-panel-body {
  white-space: pre-line;
}

.mat-expansion-panel+.faq-category-title {
  margin-top: 3rem;
}

.mat-content {
  align-items: center;
}

/* Left align text rather than center */

.event-where-when,
.event-name,
.title {
  text-align: left !important;
}

.event-where-when {
  align-items: flex-start !important;
}

/* Mat Inputs */

.mat-input-element {
  border: 1px solid #cccccc !important;
  caret-color: #00274c;
}

.mat-select {

  border: 1px solid #cccccc !important;
  border-radius: 9px;
}

.input-field .input-box {
  box-shadow: none !important;
}

.mat-input-element:focus {
  box-shadow:
    0 0 8px 6px rgba(48, 92, 222, 0.2),
    4px 4px 10px rgba(48, 92, 222, 0.2),
    /* bottom-right */
    -4px -4px 10px rgba(48, 92, 222, 0.2),
    /* top-left */
    4px -4px 10px rgba(48, 92, 222, 0.2),
    /* top-right */
    -4px 4px 10px rgba(48, 92, 222, 0.2);
  /* bottom-left */
}


// Session cards

.session-card {
  border: 1px solid var(--um-gray--200);
}

.session-time {
  min-width: 8rem !important // makes the desktop column narrower.
}