/* Common CSS */


  
  
    
    body,
    .content {
      font-family: "DM Sans", Arial, Helvetica, sans-serif;
      font-size: 17px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h5 {
      font-family: "DM Serif Display", Georgia, serif;
      letter-spacing: -0.02em !important;
    }

    .event-date {
      font-weight: 700;
    }

    .mat-input-element {
      border: 1px solid #cccccc !important;
      box-shadow: none !important;
      caret-color: #00274c;
    }

    .mat-select {

      border: 1px solid #cccccc !important;
      border-radius: 9px;
    }
    
    .input-field {
      box-shadow: none !important;
    }


    .mat-input-element:focus {
      box-shadow:
        0 0 8px 6px rgba(48, 92, 222, 0.2),
        4px 4px 10px rgba(48, 92, 222, 0.2),
        /* bottom-right */
        -4px -4px 10px rgba(48, 92, 222, 0.2),
        /* top-left */
        4px -4px 10px rgba(48, 92, 222, 0.2),
        /* top-right */
        -4px 4px 10px rgba(48, 92, 222, 0.2);
      /* bottom-left */
    }


    button {
      border: 6px double white !important;
      margin: 0.25rem 0;
      display: inline-block;
      font-family: 'DM Serif Display', Georgia, serif !important;
      font-size: 18px !important;
      letter-spacing: 0.02em;
      text-decoration: none;
      
      color: #FFFFFF;
      padding: 0.5rem 2rem !important;
      border-radius: 40px;
      vertical-align: middle;
      text-align: center;
      text-align-last: center;
      -webkit-text-size-adjust: none;
      box-shadow: none !important;
    }
  
  